<h1>Parent Dashboard</h1>


<table>
  <tbody>
    <tr><td>
      <% parent = Parent.find_by_id(session[:parent_id]) %>
      <%= parent.child_name %></td></tr>
      <% student = Student.find_by(name: parent.child_name ) %>
      <% student.achievements.each do |achievement| %>
        <tr>
          <td><%= achievement.name %></td>
          <td><%= achievement.value %></td>
          
        </tr>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to 'Change your password', edit_parent_path(Parent.find_by(id: session[:parent_id] )) %>
